snippet fn
function $1($2) {
	$0
}
endsnippet

snippet cb
$1($2function($3) {
	$0
})
endsnippet

snippet cbs
$1('$2', function($3) {
	$0
})
endsnippet

snippet log
console.log($1)
endsnippet

snippet req
var $1 = require('${2:$1}')
$0
endsnippet

snippet exp
module.exports = $0
endsnippet

snippet test
test('$1', function(${2:assert}) {
	$0
})
endsnippet

snippet asrt
assert.${1:end}($2)
endsnippet
